<ion-header>
  <ion-toolbar color="success">
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What do you want to do with the recycle waste ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group value="strawberries">
        <ion-item>
          <ion-radio value="CLIENT" labelPlacement="end" justify="start">I want to BUY it</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="PARTNER" labelPlacement="end" justify="start">I want to SELL it</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>CONTACT</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-item>
        <ion-input 
          label="name" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="text">
        </ion-input>
      </ion-item>
      

      <ion-item>
        <ion-input 
          label="Email" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="email">
        </ion-input>
      </ion-item>
      

      <ion-item>
        <ion-input 
          label="Password" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="password">
        </ion-input>
      </ion-item>
      

      <ion-item>
        <ion-input 
          label="Password confirm" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="password">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Phone number" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="tel">
        </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Address informations
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-input 
          label="Address" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="text">
        </ion-input>
      </ion-item>
      

      <ion-item>
        <ion-input 
          label="Address number" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="number">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Neigborhood" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="text">
        </ion-input>
      </ion-item>
      

      <ion-item>
        <ion-input 
          label="Zip Code" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="text">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="State" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="text">
        </ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input 
          label="City" 
          labelPlacement="floating" 
          placeholder="Enter text" 
          type="text">
        </ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="light">Register</ion-button>
</ion-content>